.reg__sec{
	width: 100%;
	position: relative;
	background: #709DCA;
	padding: 10% 0 7% 0;
	border-bottom: 220px solid #fff;
	text-align: center;
	margin-top: 80px;
}
	.reg__sec-title{
		text-align: center;
		h1{
			color: #fff;
			font-size: 35px;
		}
		p{
			color: #fff;
			font-size: 16px;
		}
	}
	.reg__sec-form{
		margin: 25px 0;
		.button{
			background: #FFBB42;
			font-size: 18px;
			display: inline-block;
			height: 48px;
			vertical-align: middle;
			border-radius: 4px;
			margin: 0 auto;
			padding: 0 20px;
			margin: 15px 0;
			a{
				color: #fff;
				line-height: 43px;				
			}
		}
	}
		.reg-form-wrap{ 
			background: #fff;
			width: 100%;
			display: inline-block;
			max-width: 280px;			
			vertical-align: middle;
			border-radius: 4px;
			padding: 0 0 0 5px;
			margin: 0 auto;
			
			input{
				display: inline-block;
				border: 0;
				font-size: 14px;
				color: #A9A9A9;
				vertical-align: middle;
				height: 48px;
				padding: 0 20px;
			}
			.user{
				background: url(../images/user.png) no-repeat left;
			}
			.mail{
				background: url(../images/mail.png) no-repeat left;
			}
			.phone{
				background: url(../images/phone.png) no-repeat left;
			}
		
		}
	.reg__sec-pic{
		width: 100%;
		text-align: center;
		img{
			margin-bottom: -220px;
		}
	}
@media (max-width: 1200px){
	.reg-form-wrap{
		max-width: 220px;
	}
}
@media (max-width: 1000px){
	.reg__sec-form{
		.button{
			text-align: center;
		}
	}
}
@media (max-width: 768px){
	.reg__sec{
		padding-bottom: 0;
	}
	.reg-form-wrap{
		max-width: 100%;
		margin: 15px 0;
	}
	.reg__sec-pic{

		img{
			width: 80%;
			height: auto;
			margin-bottom: -120px;
		}
	}
}
@media (max-width: 500px) {
	.reg-form-wrap{
		max-width:80%;
		margin: 15px 0;
	}
}