@import "_grid";
@import "_header";
@import "_reg_sec";
@import "_service-sec";
@import "_about-us";
@import "_price-sec";
@import "_how-it-work";
@import "_feed-sec";
@import "_contacts-sec";
@import "_footer";

a{
	text-decoration: none;
	color: #000;
}
ul,li{
	list-style-type: none;
}
